.loginBackGround {
    margin: 0;
    padding: 0;
    background-color: #fae0c7;
    height: 100vh;
}

.loginLogo{
    background-image : url('../logo/bakerShop.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#login-box {
    height: 650px;
    background-color: #fffafa;
    border-radius: 50px;
    box-shadow: 5px 5px 15px -10px #000000;
    padding: 20px;
}

#login-column {
    padding-top: 150px;
    float: right;
    padding-right: 60px;
}

.boxFit{
    text-align: center;
    margin-top: 100px;
}

.LinkRegister{
    text-decoration: none;
    margin-left: 0.5em;
}

.googleButton{
     padding:0.5em 1em 0.5em 1em;
     border: none;
     border-radius: 15px;
     color:  white;
     background-color: #4285F4;
     box-shadow: 6px 7px 9px -3px rgba(0,0,0,0.38);

}

.googleIcon{
    margin-right: 0.5em;
}
