#register-box {
    height: 850px;
    background-color: #fffafa;
    border-radius: 50px;
    box-shadow: 5px 5px 15px -10px #000000;
    padding: 20px;
}

#register-column {
    padding-top: 55px;
    float: right;
    padding-right: 60px;
}
.boxFitRegister{
    text-align: center;
    margin-top: 80px;
}