.subenlace{
    text-decoration: none;
    color: black;
}
.icon{
    margin-right: 5px;
}
.userInfo{
    position:absolute;
    right:20px;
}

.headerColor{
    background-color: #fae0c7;
    box-shadow: 5px 5px 15px -13px #000000; 
}