body {
    margin: 0;
    padding: 0;
    background-color: #fffafa;
    height: 100vh;
}
.primaryButton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #FED480;
    border-color: #FED480;
    color: black;
    padding: 0.7em;
    border-radius: 50px;
    box-shadow: 5px 5px 15px -10px #000000;
    width: 100%;
}

.primaryButton:hover{
    background-color: #ffc34d;
    border-color: #ffc34d;
    outline: 0px !important;
    box-shadow: none;
    color: black;
}

.primaryButton:active{
    background-color: #ffc34d;
    border-color: #ffc34d;
    outline: 0px !important;
    box-shadow: none;
    color: black;
}

.primaryButton:visited{
    background-color: #ffc34d;
    border-color: #ffc34d;
    outline: 0px !important;
    box-shadow: none;
    color: black;
}

.primaryButton:focus{
    background-color: #ffc34d;
    border-color: #ffc34d;
    outline: 0px !important;
    box-shadow: none !important;
    color: black;
}

.primaryButton:focus-visible{
    background-color: #ffc34d;
    border-color: #ffc34d;
    outline: 0px !important;
    box-shadow: none;
    color: black;
}

.primaryButton:target{
    background-color: #ffc34d;
    border-color: #ffc34d;
    outline: 0px !important;
    box-shadow: none;
    color: black;
}
.primaryButton:disabled{
    background-color: #ffc34d;
    border-color: #ffc34d;
    outline: 0px !important;
    box-shadow: none;
    color: black;
}


.secondaryButton{
    background-color: #FF7530;
    border-color: #FF7530;
    color:black;
    padding: 0.7em;
    border-radius: 50px;
    box-shadow: 5px 5px 15px -10px #000000;
    width: 100%;

}

.secondaryButton:hover{
    background-color: #ff5d0b;
    border-color: #ff5d0b;
    color: black;
}

.secondaryButton:active{
    background-color: #ff5d0b;
    border-color: #ff5d0b;
    color: black;
}

.secondaryButton:active{
    background-color: #ff5d0b;
    border-color: #ff5d0b;
    outline: 0px !important;
    box-shadow: none;
    color: black;
}

.secondaryButton:visited{
    background-color: #ff5d0b;
    border-color: #ff5d0b;
    outline: 0px !important;
    box-shadow: none;
    color: black;
}

.secondaryButton:focus{
    background-color: #ff5d0b;
    border-color: #ff5d0b;
    outline: 0px !important;
    box-shadow: none !important;
    color: black;
}

